.contactBody {
  background-color: #1c2541;
  color: white;
  min-height: 100vh;
  height: auto;
}
.main-child {
  padding-bottom: 0%;
}
.row {
  margin-bottom: 0;
  padding: 0;
}
.typewriterEffect {
  font-weight: 800;
  font-size: 40px;
  padding-top: 20px;
}

i:hover {
  cursor: pointer;
  color: rgb(52, 201, 247);
  transition: all 0.3s ease-out;
}

.contactIcons,
.socialMediaHandles {
  font-size: 1.5em;
}

#floatingTextarea {
  height: 100px;
}
#links {
  padding: 0 3rem;
}
label {
  color: black;
}
.messageInput {
  border: 3px solid rgb(52, 201, 247);
  border-radius: 10px;
  color: black;
}
.messageInput:focus,
.btn-outline:focus {
  outline: none;
  box-shadow: none;
}

.messageInput:focus {
  border: 3px solid orange;
}

.btn-outline {
  border: 2px solid white;
  border-radius: 10px;
  color: white;
}
.btn-outline:hover {
  color: rgb(52, 201, 247);
  background-color: #1c2541;
  border-radius: 10px;
  transition: all 0.3s ease-out;
  border: 2px solid rgb(52, 201, 247);
}

.copyright {
  color: white;
}

.copyright:hover {
  color: rgb(52, 201, 247);
  transition: all 0.3s ease-in;
  cursor: pointer;
}
