.navbar{
    background-color: #1a2033;
}
.navbar-brand{
    font-weight: bolder;
    color:rgb(52, 201, 247);
    font-size: 1.5em;
}
.navbar-brand:hover{
    cursor: pointer;
    color:rgb(38, 177, 219);
}
.nav-link{
    color:white;
    text-decoration: none;
    font-weight: bold;
}
.nav-link:hover{
    color:orangered;
    text-decoration: underline;
    font-weight: bold;
}
.nav-item>.active{
    color:orange;
    text-decoration: underline;
    font-weight: bold;
}
.toggler-logo{
    color:rgb(52, 201, 247);
}
.navbar-toggler{
    outline: none;
    box-shadow: none;
    border:none;
}
.navbar-toggler:focus{
    outline: none;
    box-shadow: none;
    border:none;
    cursor: pointer;
}
.navbar-toggler:hover{
    outline: none;
    box-shadow: none;
    border:none;
    cursor: pointer;
}
